<% content_for :head do %>
	<%= javascript_include_tag "lobby" %>
	<%= javascript_include_tag "lib/bootstrap-table" %>
	<%= javascript_include_tag "lib/bootstrap-table-filter" %>

	<%= stylesheet_link_tag "lobby" %>
	<%= stylesheet_link_tag "bootstrap-table" %>
<% end %>

<div id="lobby-container" class="row">
  <div id="filters-container" class="col-sm-3">
  </div> 
  <div id="contest-table-container" class="table-responsive col-sm-9">
    <table id="contest-table" class="table">
    </table>
  </div>
</div>
