<!DOCTYPE html>
<html>
<head>
  <title>Daily LCS</title>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "lib/handlebars.runtime-v2.0.0" %>
  <%= javascript_include_tag "lib/moment.min" %>
  <%= javascript_include_tag "templates" %>

  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "colors" %>
  <%= stylesheet_link_tag "overrides" %>

  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="navigation-container">
    <%= render "layouts/navigation" %>
  </div>


  <div id="main-container" class="container-fluid">
    <div id="main-row" class="row">
      <%= yield %>
    </div>
  </div>

  <div id="footer" class="container-fluid">
    <%= render "layouts/footer" %>
  </div>

</body>
</html>
