<!DOCTYPE html>
<html>
<head>
  <title>DailyLcs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'handlebars.runtime-v2.0.0.js' %>
  <%= javascript_include_tag 'templates.js' %>

  <%= csrf_meta_tags %>
</head>
<body>

  <div id="navigation-container">
  </div>

  <div id="main-container" class="container">
  </div>

<%= yield %>

</body>
</html>
